<h1> Create and add your blog! </h1>

<%= form_with model: @blog do |form| %>
    <%= form.label :title %>
    <br>
    <%= form.text_field :title %>
    <br>
    <br>
    <%= form.label :content %>
    <br>
    <%= form.text_field :content %>
    <br>
    <br>
    <%= form.submit "Post Blog!" %>
<% end %>
